.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:$b-color4;
  position: fixed;
  width: 100%;
  z-index: 60;
  padding: 16px 25px;
  button{
    display: none;
    @media (max-width:768px) {
      display: block;
    }
  }
}
.content{
  display: flex;
  min-height: 100vh;
  padding-top: 58px;
}
.left-block{
  width: 399px;
  background-color: $b-color3;
  position: fixed;
  height: 100%;
  z-index: 120;
  padding-top: 40px;
  @media (max-width:768px) {
    top: 0;
    max-width: 280px;
    transform: translateX(-399px);
    transition: 0.5s;
    z-index: 120;
  }
}
.show{
  transform: translateX(0);
}
.right-block{
  width: 100%;
  padding-left: 399px;
  overflow: hidden;
  background-color: $b-color1;
  display: flex;
  flex-direction: column;
  position: relative;
  .slidebg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 20;
  }
  @media (max-width:768px) {
    width: 100%;
    padding: 0;
  }
}
.client{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $b-color2;
}
.client-msg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .connect{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #98D693;
  }
  span{
    color: $white;
  }
}
.logout{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  h2{
    margin: 0;
    color: $w-color2;
  }
  a{
    height: 30px;
  }
  img{
    vertical-align: middle;
  }
}
.choose-room{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $white;
  .choose-room-msg,.room-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .room-title{
    h2{
      color: $w-color2;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
.choose-room-h{
  width: 100%;
  max-height: 275px;
  overflow-y: auto;
  @media (max-width:320px) {
    max-height: 200px;
  }
  .choose-room-msg{
    cursor: pointer;
    &:hover{
      box-shadow: 0px 0px 20px $black;
    }
  }
}
.addroom{
  position: fixed;
  background-color: $white;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%,-50%);
  .modal-hide{
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%,-50%);
  }
}
.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(0,0,0,0.44);
}
