

//index
.room-client{
  color:#fff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .pic{
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
  .name{
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .item{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60px;
  }
  .msg-w{
    display: flex;
    align-items: center;
    span{
      align-self: flex-end;
    }
  }
  .msg{
    max-width: 300px;
    word-wrap: break-word;
    word-break:break-all;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 5px;
    position: relative;
    @media (max-width:768px) {
      max-width: 170px;
    }
    @media (max-width:320px) {
      max-width: 100px;
    }
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 9px solid #fff;
    }
  }
}
.local{
  flex-direction: row-reverse;
  .msg-w{
    flex-direction: row-reverse;
  }
  .msg{
    margin-left: 5px;
    margin-right: 20px;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: none;
      border-left: 9px solid #fff;
    }
  }
}


.addroom{
  position: fixed;
  background: #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%,-50%);
  .modal-hide{
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%,-50%);
  }
}
.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(0,0,0,0.44);
}

// roommsg
.progess{
  width: 0px;
  height: 7px;
  border-radius: 10px;
  background-color: $success;
}
.file{
  cursor: pointer;
}
.emoticon-wrap{
  position: relative;
  .emoticon{
    position: absolute;
    background-color: $white;
    border:1px solid $navy-blue;
    border-radius: 10px;
    bottom: 21px;
    left: -45px;
    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 46px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-top: 10px solid $navy-blue;
      border-right: 10px solid transparent;
    }
  }
}
.msg-file{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
}