.chat-pos{
    position: fixed;
    width: 100%;
    padding-right: 399px;
    bottom: 0;
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  .file{
    cursor: pointer;
  }
  .chat-msg{
    position: relative;
    input[type='text']{
      width: 100%;
      background: $b-color2;
      padding: 10px 100px 10px 20px;
      border:none;
      outline: none;
      color: $white;
    }
    .chat-group{
      width: 100px;
      top: 0;
      right: 0;
      position: absolute;
      display: flex;
      justify-content:space-between;
      padding: 7px 10px;
    }
  }
  .progess{
    width: 0px;
    height: 7px;
    border-radius: 10px;
    background-color: $success;
  }
  .file{
    cursor: pointer;
  }
  .msg-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border: 1px solid $white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .room-client{
    color: $white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .pic{
      background-position: center;
      background-size: cover;
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }
    .name{
      width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
    .item{
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 60px;
    }
    .msg-w{
      display: flex;
      align-items: center;
      span{
        align-self: flex-end;
      }
    }
    .msg{
      max-width: 300px;
      word-wrap: break-word;
      word-break:break-all;
      color: $black;
      background-color: $white;
      padding: 10px;
      border-radius: 10px;
      margin-left: 20px;
      margin-right: 5px;
      position: relative;
      @media (max-width:768px) {
        max-width: 170px;
      }
      @media (max-width:320px) {
        max-width: 100px;
      }
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 9px solid $white;
      }
    }
  }
  .local{
    flex-direction: row-reverse;
    .msg-w{
      flex-direction: row-reverse;
    }
    .msg{
      margin-left: 5px;
      margin-right: 20px;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: none;
        border-left: 9px solid $white;
      }
    }
  }